doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width,initial-scale=1",name="viewport")
    title webpack demo
  body: #content
    .-right: button.ui.inverted.button#startBtn Start
    #total
      .-dist
        i.large.resize.vertical.icon
        div #[span#totalKm 2]#[br]km
        div #[span#totalM 74]#[br]m
        div #[span#totalCm 13]#[br]cm
      .-time
        i.large.hourglass.end.icon
        div #[span#totalHr 2]#[br]hr
        div #[span#totalMin 15]#[br]min
        div #[span#totalSec 34]#[br]sec
    #apps
      #fb #[i.huge.facebook.icon]#[br]#[span#fbM 74]m #[span#fbCm 29]cm#[br]#[span#gbMin 21]min #[span#fbSec 25]sec
      #ig #[i.huge.instagram.icon]#[br]#[span#igM 52]m #[span#igCm 41]cm#[br]#[span#igMin 14]min #[span#igSec 57]sec
      #line #[i.huge.comment.outline.icon]#[br]#[span#lineM 31]m #[span#lineCm 1]cm#[br]#[span#lineMin 10]min #[span#lineSec 38]sec
      #yt #[i.huge.youtube.play.icon]#[br]#[span#ytM 15]m #[span#ytCm 25]cm#[br]#[span#ytMin 5]min #[span#ytSec 8]sec
    script(src="./app.js")
