doctype html
html
  head
    title webpack demo
  body
    button#startBtn start
    #container
      #time
        #totalTime.total
          p.label totalTime
          p#totalHr.hr 0
          p.unit  Hr 
          p#totalMin.min 0
          p.unit  Min 
          p#totalSec.sec 0
          p.unit  Sec 
          br
          br
        #fbTime.fb
          p.label fbTime
          p#fbHr.hr 0
          p.unit  Hr 
          p#fbMin.min 0
          p.unit  Min 
          p#fbSec.sec 0
          p.unit  Sec 
          br
          br
        #igTime.ig
          p.label igTime
          p#igHr.hr 0
          p.unit  Hr 
          p#igMin.min 0
          p.unit  Min 
          p#igSec.sec 0
          p.unit  Sec 
          br
          br
        #lineTime.line
          p.label lineTime
          p#lineHr.hr 0
          p.unit  Hr 
          p#lineMin.min 0
          p.unit  Min 
          p#lineSec.sec 0
          p.unit  Sec 
          br
          br
        #ytTime.yt
          p.label ytTime
          p#ytHr.hr 0
          p.unit  Hr 
          p#ytMin.min 0
          p.unit  Min 
          p#ytSec.sec 0
          p.unit  Sec 
          br
          br
      #dist
        #totalDist.total
          p.label totalDist
          p#totalKm.km 0
          p.unit  Km 
          p#totalM.m 0
          p.unit  M 
          p#totalCm.cm 0
          p.unit  Cm 
          br
          br
        #fbDist.fb
          p.label fbDist
          p#fbKm.km 0
          p.unit  Km 
          p#fbM.m 0
          p.unit  M 
          p#fbCm.cm 0
          p.unit  Cm 
          br
          br
        #igDist.ig
          p.label igDist
          p#igKm.km 0
          p.unit  Km 
          p#igM.m 0
          p.unit  M 
          p#igCm.cm 0
          p.unit  Cm 
          br
          br
        #lineDist.line
          p.label lineDist
          p#lineKm.km 0
          p.unit  Km 
          p#lineM.m 0
          p.unit  M 
          p#lineCm.cm 0
          p.unit  Cm 
          br
          br
        #ytDist.yt
          p.label ytDist
          p#ytKm.km 0
          p.unit  Km 
          p#ytM.m 0
          p.unit  M 
          p#ytCm.cm 0
          p.unit  Cm 
          br
          br
    script(src="./main.js")
